.title {
    color: black;
    background-color: aquamarine;
}

.list {
    background-color: aquamarine;
}

.background {
    background-color: darkolivegreen;
}

.links {
    color: blue;
    background-color: azure;
}