.title {
    color: black;
    background-color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    background-color: darkgoldenrod;
    color:white;
    padding: 20px;
}

.list-items {
    color:aliceblue
}

.background {
    background-color: darkolivegreen;
}

.links {
    color: blue;
    background-color: azure;
}

.default-font-family{
    font-family: Arial, Helvetica, sans-serif;
}